{% extends 'base.html.twig' %}

{% block title %}Hello CarteController!{% endblock %}

{% block body %}

<div class="container">
    
    <div class="row no-gutters" >
  
        {% for carte in cartes %}
            
            {% include "carte/_carte.html.twig" with { carte : carte } only  %}

        {% endfor %}
                   
    </div>                    
</div>                 
{% endblock %}
